h3 { font-family: "Trebuchet MS", sans-serif; }
.test { clear: both; font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif; }

/* Tests */
#one button { background-color: #EEEEEE; }

#two button { border: 1px solid #EEEEEE; }
